/* fonts
==================================== */
.opensans{
  font-family: 'opensans', sans-serif;
}
.opensansitalic{
  font-family: 'opensansitalic', sans-serif;
}
.opensanslight{
  font-family: 'opensanslight', sans-serif;
}
.benchnine{
  font-family: 'benchnineregular', sans-serif;
}
.benchninelight{
  font-family: 'benchninelight', sans-serif;
}
.benchninebold{
  font-family: 'benchninebold', sans-serif;
}
.badscript{
  font-family: 'Badscriptregular, sans-serif';
}

/*font-size
============================*/
@regular: 14px;


/* color
======================================== */
@text-white: #fff;
@text-black: #000;
@text-gray: #434242;
@text-gray-dark: #212121;
@text-gray-light: #979090;
@text-pink: #dd6d8c;

/* bg
=================================== */
@bg-white: #fff;
@bg-black: #000;
@bg-gray-dark: #1c1c1c;
@bg-gray-light: #dddddd;
@bg-pink: rgba(165, 99, 117, 0.8);
@bg-pink-op: rgba(165, 99, 117, .65);
@bg-slider: rgba(217, 222, 218, 0.85);

/* border
=========================== */
@border-white: #fff;


@lg-width: 1200px;
@md-width: 992px;
@sm-width: 768px;
@xs-width: 480px;
