/* fonts
==================================== */
.opensans{
  font-family: 'opensans', sans-serif;
}
.opensansitalic{
  font-family: 'opensansitalic', sans-serif;
}
.opensanslight{
  font-family: 'opensanslight', sans-serif;
}
.benchnine{
  font-family: 'benchnineregular', sans-serif;
}
.benchninelight{
  font-family: 'benchninelight', sans-serif;
}
.benchninebold{
  font-family: 'benchninebold', sans-serif;
}
.badscript{
  font-family: 'Badscriptregular, sans-serif';
}



/* color
======================================== */


/* bg
=================================== */
@white: #fff;
@black: #000;

/* border
=========================== */



@lg-width: 960px;
@md-width: 960px;
@sm-width: 768px;
@xs-width: 480px;
